<h1>Generate Training Samples for Azure Wide and Deep Recommender.</h1>

In [21]:
import pandas as pd
from random import randrange

In [22]:
pd.set_option('max_rows', 2000)
pd.set_option('max_columns', 100)
pd.set_option('max_colwidth', 100)
import pandas as pd
desired_width = 400    
pd.set_option('display.width', desired_width)

In [23]:
#Create Rating Table
d       = {}
n_users = 10
n_rest  = 20
d['user']       = []
d['restaurant'] = []
d['rating']     = []
for u in range(1,n_users+1):
    for re in range(1, n_rest+1):
        #Remove some of the ratings so that we can then predict them:
        rating = 1 if re%2 != u%2 else 6
        if randrange(4) != 3:
            d['user'].append(u)
            d['restaurant'].append(re)
            d['rating'].append(rating)
        else:
            print('Removed User:', u, 'for restaurant', re, 'rating:', rating)
df_rating = pd.DataFrame(d)    
df_rating.iloc[0:100]

Removed User: 1 for restaurant 5 rating: 6
Removed User: 1 for restaurant 18 rating: 1
Removed User: 2 for restaurant 1 rating: 1
Removed User: 2 for restaurant 2 rating: 6
Removed User: 2 for restaurant 6 rating: 6
Removed User: 2 for restaurant 9 rating: 1
Removed User: 2 for restaurant 10 rating: 6
Removed User: 2 for restaurant 13 rating: 1
Removed User: 2 for restaurant 17 rating: 1
Removed User: 2 for restaurant 19 rating: 1
Removed User: 3 for restaurant 3 rating: 6
Removed User: 3 for restaurant 5 rating: 6
Removed User: 3 for restaurant 17 rating: 6
Removed User: 3 for restaurant 18 rating: 1
Removed User: 3 for restaurant 19 rating: 6
Removed User: 4 for restaurant 3 rating: 1
Removed User: 4 for restaurant 7 rating: 1
Removed User: 4 for restaurant 8 rating: 6
Removed User: 4 for restaurant 10 rating: 6
Removed User: 4 for restaurant 14 rating: 6
Removed User: 5 for restaurant 6 rating: 1
Removed User: 5 for restaurant 7 rating: 6
Removed User: 5 for restaurant 8 rating: 1
Removed User: 5 for restaurant 9 rating: 6
Removed User: 5 for restaurant 12 rating: 1
Removed User: 5 for restaurant 15 rating: 6
Removed User: 5 for restaurant 18 rating: 1
Removed User: 6 for restaurant 1 rating: 1
Removed User: 6 for restaurant 5 rating: 1
Removed User: 6 for restaurant 9 rating: 1
Removed User: 6 for restaurant 11 rating: 1
Removed User: 6 for restaurant 12 rating: 6
Removed User: 6 for restaurant 15 rating: 1
Removed User: 6 for restaurant 17 rating: 1
Removed User: 7 for restaurant 7 rating: 6
Removed User: 7 for restaurant 10 rating: 1
Removed User: 7 for restaurant 11 rating: 6
Removed User: 7 for restaurant 15 rating: 6
Removed User: 8 for restaurant 3 rating: 1
Removed User: 8 for restaurant 5 rating: 1
Removed User: 8 for restaurant 12 rating: 6
Removed User: 8 for restaurant 14 rating: 6
Removed User: 9 for restaurant 2 rating: 1
Removed User: 9 for restaurant 5 rating: 6
Removed User: 9 for restaurant 8 rating: 1
Removed User: 9 for restaurant 10 rating: 1
Removed User: 9 for restaurant 12 rating: 1
Removed User: 9 for restaurant 14 rating: 1
Removed User: 9 for restaurant 19 rating: 6
Removed User: 10 for restaurant 1 rating: 1
Removed User: 10 for restaurant 2 rating: 6
Removed User: 10 for restaurant 3 rating: 1
Removed User: 10 for restaurant 6 rating: 6
Removed User: 10 for restaurant 7 rating: 1
Removed User: 10 for restaurant 8 rating: 6
Removed User: 10 for restaurant 16 rating: 6

    user  restaurant  rating
0      1           1       6
1      1           2       1
2      1           3       6
3      1           4       1
4      1           6       1
5      1           7       6
6      1           8       1
7      1           9       6
8      1          10       1
9      1          11       6
10     1          12       1
11     1          13       6
12     1          14       1
13     1          15       6
14     1          16       1
15     1          17       6
16     1          19       6
17     1          20       1
18     2           3       1
19     2           4       6
20     2           5       1
21     2           7       1
22     2           8       6
23     2          11       1
24     2          12       6
25     2          14       6
26     2          15       1
27     2          16       6
28     2          18       6
29     2          20       6
30     3           1       6
31     3           2       1
32     3           4       1
33     3           6       1
34     3           7       6
35     3           8       1
36     3           9       6
37     3          10       1
38     3          11       6
39     3          12       1
40     3          13       6
41     3          14       1
42     3          15       6
43     3          16       1
44     3          20       1
45     4           1       1
46     4           2       6
47     4           4       6
48     4           5       1
49     4           6       6
50     4           9       1
51     4          11       1
52     4          12       6
53     4          13       1
54     4          15       1
55     4          16       6
56     4          17       1
57     4          18       6
58     4          19       1
59     4          20       6
60     5           1       6
61     5           2       1
62     5           3       6
63     5           4       1
64     5           5       6
65     5          10       1
66     5          11       6
67     5          13       6
68     5          14       1
69     5          16       1
70     5          17       6
71     5          19       6
72     5          20       1
73     6           2       6
74     6           3       1
75     6           4       6
76     6           6       6
77     6           7       1
78     6           8       6
79     6          10       6
80     6          13       1
81     6          14       6
82     6          16       6
83     6          18       6
84     6          19       1
85     6          20       6
86     7           1       6
87     7           2       1
88     7           3       6
89     7           4       1
90     7           5       6
91     7           6       1
92     7           8       1
93     7           9       6
94     7          12       1
95     7          13       6
96     7          14       1
97     7          16       1
98     7          17       6
99     7          18       1

In [24]:
#Create a user table:
d            = {}
d['user']    = []
d['style']   = []
d['name']    = []
for u in range(1,n_users+1):
    d['user'].append(u)
    if u%2 == 0:
        d['style'].append('French')
        d['name'].append('Monsieur_'+str(u))
    else:
        d['style'].append('Italian')
        d['name'].append('Signora_'+str(u))
df_user = pd.DataFrame(d)    
df_user

   user    style         name
0     1  Italian    Signora_1
1     2   French   Monsieur_2
2     3  Italian    Signora_3
3     4   French   Monsieur_4
4     5  Italian    Signora_5
5     6   French   Monsieur_6
6     7  Italian    Signora_7
7     8   French   Monsieur_8
8     9  Italian    Signora_9
9    10   French  Monsieur_10

In [25]:
#Create Restaurant Table:
d                  = {}
d['restaurant']    = []
d['style']         = []
d['name']          = []
for re in range(1,n_rest+1):
    d['restaurant'].append(re)
    if re%2 == 0:
        d['style'].append('French')
        d['name'].append('Creperie_'+str(re))       
    else:
        d['style'].append('Italian')
        d['name'].append('Pizeria_'+str(re))       
df_restaurant = pd.DataFrame(d)    
df_restaurant

    restaurant    style         name
0            1  Italian    Pizeria_1
1            2   French   Creperie_2
2            3  Italian    Pizeria_3
3            4   French   Creperie_4
4            5  Italian    Pizeria_5
5            6   French   Creperie_6
6            7  Italian    Pizeria_7
7            8   French   Creperie_8
8            9  Italian    Pizeria_9
9           10   French  Creperie_10
10          11  Italian   Pizeria_11
11          12   French  Creperie_12
12          13  Italian   Pizeria_13
13          14   French  Creperie_14
14          15  Italian   Pizeria_15
15          16   French  Creperie_16
16          17  Italian   Pizeria_17
17          18   French  Creperie_18
18          19  Italian   Pizeria_19
19          20   French  Creperie_20

### Save the tables.

In [26]:
df_rating.to_csv('mulx_rating_artificial_1.csv', sep=';', index=False)
df_user.to_csv('mulx_user_artificial_1.csv', sep=';', index=False)
df_restaurant.to_csv('mulx_restaurant_artificial_1.csv', sep=';', index=False)